.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
   *{
    margin: 0 auto;
  } 
  .hero{
    border-radius: 20px;
   background-color: rgb(198, 228, 214);
   width: 1000px;
  }
  .flex1{
    display: flex;
    justify-content: space-between;
    padding:64px ;
  }
  .baba{
    width:490px ;
    margin-top: 10px;
  }
  .hero-h6{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 19px;
    text-align: left;
  }
  .hero-h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 44px;
    text-align: left;
  }
  .hero-btn{
    margin: 20px auto;
    height: 44px;
    width: 200px;
    border: none;
    border-radius: 8px;
background-color: rgb(0, 106, 80);
color: aliceblue;
transition: transform 0.2s ease;
  }
  .hero-btn:hover {
    transform:scale(1.1);
    color: aquamarine;
  }
  main{
    width: 1000px;
  }
  .A{
    margin: 50px auto;
  }
  .A-div{
    margin-bottom: 20px;
  }
  .batto{
    margin-top: 20px;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    transition:0.2s ease;
  }
  .batto:hover{
    transform:scale(1.1);
  }
  .flex2{
    display: flex;
    gap: 20px;
  }
  .pad{
    padding: 25px;
  }
  .baba1{
    box-sizing: border-box;
border-radius: 12px;

background: rgba(84, 144, 245, 0.2);

  }
  .baba2{
    box-sizing: border-box;
    border-radius: 12px;
    
    background: rgb(198, 228, 214);
  }
  .baba3{
    box-sizing: border-box;
border-radius: 12px;

background: rgb(247, 235, 207);
 }
 .sky{
background-color: rgb(84, 144, 245);
color: aliceblue;
 }
 .sky2{
    background-color: rgb(9, 161, 92);
    color: aliceblue;
 }
 .sky3{
    background-color:rgb(255, 194, 57) ;
    color: aliceblue;
 }
 .card{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
/* text-align: left; */
 }
 .card2{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
text-align: left;
 }
 .A-h2{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 30px;
font-weight: 700;
/* text-align: left; */
padding-bottom: 10px;
 }
 .A-p{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 10px;
font-weight: 400;
text-align: left;
 }
  /* section B*/ 
  .B{
    box-sizing: border-box;
border: none;
border-radius: 16px;
padding:37px ;
background:whitesmoke;
margin: 50px auto;
 }
 .B-div{
    background-image:url("quote-bg.png") ;
    background-repeat: no-repeat;
    padding: 37px 18px 10px 0px;
 }
 .B-p{
margin-bottom: 20px;
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 12px;
 }
 .B-h2{
margin-bottom: 5px;
Font: Fira Sans;
Font-size: 15px;
color: rgb(14, 14, 14);
font-family: Fira Sans;
 }
 .B-h6{
    color: rgba(14, 14, 14, 0.6);
    Font: Fira Sans;
Font-size: 12px;
 }
 /* c-sec */
 .C{
    margin: 50px auto;}
    .C-h2{
      color: rgb(14, 14, 14);
      font-family: Fira Sans;
      font-size: 30px;
      line-height: 50px;
    }
    .C-p{
      color: rgba(14, 14, 14, 0.7);
      font-family: Fira Sans;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      text-align: left;
    }
 .flex3{
 border-radius: 16px;
background-color: rgb(241, 238, 238);
display: flex;
gap: 20px;
padding: 30px;
height:250px ;
margin-top: 20px;
 }
 span{
  padding-left: 10px;
 }
 .flex4{
  border-radius: 16px;
 background-color: rgb(241, 238, 238);
 display: flex;
 flex-direction: row-reverse;
 gap: 20px;
 padding: 30px;
 height:250px ;
 margin-top: 20px;}
 .green{
    background-color: rgb(0, 106, 80);
    color: aliceblue;
    margin-top: 20px;
 }
 .C-img img{
    border-radius: 16px;
    height: 100%;
 }
 .aljajira{
    margin-top: 10px;
 }
 .alp{
    margin-top: 10px;
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 12px;
text-align: left;
 }
 .aljp{
    margin-top: 10px;
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 12px;
text-align: left;
 }
 .ban{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 26px;
text-align: left;
 }
 /* d-sec */
 .D{
  margin: 50px auto;
  padding: 0px 80px;
 }
 .lombo{
  height:70px ;
  width: 150px;
  border: none;
  border-radius: 10px;
  background-color: whitesmoke; 
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 25px;
  font-weight: 400;
  transition: 0.1sec ease;
 }
 .btn-D{
  height:100px;
  width: 70%;
  display: flex;
  padding-top:50px ;
  gap: 20px;
 }
 .lombo:hover{
  transform: scale(1.1);
  background-color: rgb(198, 228, 214);
 }
 .D-div{
  text-align: center;
 }
 .D-mid{
  text-align: center;
 }
 .D-inp{
  height:70px;
  width: 70%;
  text-align: center;
  /* background-color: blue; */
 }
 .D-inp input{
  width: 90%;
  height: 50px;
  margin-bottom: 30px;
  background-color:whitesmoke ;
  border: none;
 }
 input::placeholder{
  text-align: center;
 }
 .flood{
  margin-left: 50px;
 }
 /* E-section */
 .E{
  background-color: rgb(198, 228, 214);
  border-radius: 16px;
  height: 300px;
  padding: 60px 100px;
   margin-top: 50px;
  margin-bottom: 50px;
 }
 .flex5{
  width: 600px;
  height: 50px;
  display: flex;
  border: none;
  padding-bottom: 50px;
 }
 input{
  width:400px;
  height: 50px;
  border: none;
  border-radius: 5px 0px 0px 5px;
 }
 a>button{
  width:200px;
  height: 52px;
  border: none;
  background-color:rgb(0, 106, 80) ;
  color: aliceblue;
  border-radius: 0px 5px 5px 0px;
  transition: 0.1s ease;
 }
 a>button:hover{
  transform: scale(1.1);
  background-color:green;
 }
 .input::placeholder{
  text-align: left;
  padding:20px;
 }
 footer{
   margin-top: 50px;
   margin-right:200px;
   margin-left: 0px;
  background-color: whitesmoke;
  padding: 40px 130px;
  width: 1000px;
 }
 .E-padd{
  padding: 10px 150px; 
 }
 .contact{
  margin-left: 20px;
 }